
<pre>BOOTCAMP DE DADOS ITAÚ
Lista: SQL 01
Aluno: Marcos Ferreira de Albuquerque Amado Peixoto



<h3><b>QUESTÃO 1:</b></h3>
Selecione da tabela empolyees:
    Os sobrenomes distintos dos empregrados;
    Empregados que nasceram entre 1950 e 1958 (inclusos);
    Empregados que nasceram em 1963 e foram contratados em 1993;
    Todos os empregrados que reportam o chefe de id 5;</pre>

In [ ]:
SELECT DISTINCT (last_name) FROM employees
WHERE 
    birth_date BETWEEN '1950-01-01' AND '1958-12-31'
    OR birth_date BETWEEN '1963-01-01' AND '1963-12-01'	
    OR reports_to = 5;

<pre><h3><b>QUESTÃO 2:</b></h3>
Selecione da tabela order_details:
    Produtos com 0.05 ou menos de desconto;</pre>

In [ ]:
SELECT product_id FROM order_details WHERE discount <= '0.05';

<pre><h3><b>QUESTÃO 3:</b></h3>
Selecione da tabels orders:
    Ordens enviadas em Setembro de 1996.
    Ordens que possuam o campo região preenchido.</pre>

In [ ]:
SELECT order_id, ship_region, order_date FROM orders 
WHERE 
	ship_region IS NOT NULL
	AND order_date BETWEEN '1996-09-01' AND '1996-09-30';

<pre><h3><b>QUESTÃO 4:</b></h3>
Selecione da tabela suppliers:
    Todos os contatos que tenham a palavra manager no titulo.</PRE>

In [ ]:
SELECT contact_name FROM suppliers
WHERE contact_title LIKE '%Manager%';