<pre>BOOTCAMP DE DADOS ITAÚ
Lista: SQL 02
Aluno: Marcos Ferreira de Albuquerque Amado Peixoto



<h3><b>QUESTÃO 1:</b></h3>
Selecione da tabela empolyees (não esqueça de nomear as colunas criadas):
    A idade que os empregados tinham quando foram contratados em ordem crescente;
    Qual a pessoa mais jovem que foi contratada?</PRE>

In [ ]:
SELECT 
	first_name, 
	CASE 
		WHEN (DATE_PART('month', hire_date) > DATE_PART('month', birth_date)  
			  AND DATE_PART('day', hire_date) > DATE_PART('day', birth_date)) 
		THEN (DATE_PART('year', hire_date) - DATE_PART('year', birth_date))
		ELSE (DATE_PART('year', hire_date) - DATE_PART('year', birth_date) - 1)
	END AS hiring_age
FROM employees 
ORDER BY hiring_age ASC;

-- Para descobrir quem é a pessoa mais jovem contratada precisamos somente utilizar "LIMIT 1" no final do código.

<pre><h3><b>QUESTÃO 2:</b></h3>
Selecione da tabela products:
    Os 5 produtos com maior valor agregado atualmente em estoque.</pre>

In [ ]:
SELECT 
	product_name,
	CASE
		WHEN (unit_price IS NOT NULL AND units_in_stock IS NOT NULL)
		THEN unit_price * units_in_stock
	END AS stock_cost
FROM products
ORDER BY stock_cost DESC
LIMIT 5;

<pre><h3><b>QUESTÃO 3:</b></h3>
Selecione da tabels orders:
    O tempo (em dias) entre a compra e a entrega.</pre>

In [ ]:
SELECT
	order_id,
	CASE
		WHEN (order_date IS NOT null AND shipped_date IS NOT null)
		THEN (shipped_date - order_date)
	END AS shipping_time
FROM orders;