<pre>BOOTCAMP DE DADOS ITAÚ
Lista: SQL 06
Aluno: Marcos Ferreira de Albuquerque Amado Peixoto



<h3><b>QUESTÃO 1:</b></h3>
Resolva o problema abaixo usando as três técnicas aprendidas na aula `06_views_e_subqueries`:

    A. Select from select
    B. WITH
    C. VIEW

Quantos vendedores tiveram menos de 300 pedidos e média superior a 700 unidades monetárias por pedido?</PRE>

In [ ]:
--Método 1 - select from select
SELECT	
	COUNT(*) AS quantidade_vendedores_validados
FROM
	(SELECT 
		employee_id,
		COUNT(DISTINCT(orders.order_id)),
		ROUND((SUM(order_details.unit_price * order_details.quantity * (1 - order_details.discount))/COUNT(DISTINCT(orders.order_id)))::numeric, 2)
	FROM orders
	JOIN order_details ON orders.order_id = order_details.order_id
	GROUP BY employee_id
	HAVING 
		SUM(order_details.unit_price * order_details.quantity * (1 - order_details.discount))/COUNT(DISTINCT(orders.order_id)) > 700 AND
		COUNT(DISTINCT(orders.order_id)) < 300) AS tabela_1;
		
--Método 2 - with

WITH tabela_validada AS (
	SELECT 
		employee_id,
		COUNT(DISTINCT(orders.order_id)),
		ROUND((SUM(order_details.unit_price * order_details.quantity * (1 - order_details.discount))/COUNT(DISTINCT(orders.order_id)))::numeric, 2)
	FROM orders
	JOIN order_details ON orders.order_id = order_details.order_id
	GROUP BY employee_id
	HAVING 
		SUM(order_details.unit_price * order_details.quantity * (1 - order_details.discount))/COUNT(DISTINCT(orders.order_id)) > 700 AND
		COUNT(DISTINCT(orders.order_id)) < 300)
SELECT 
	COUNT(employee_id) 
FROM tabela_validada;

--Método 3 - View

CREATE VIEW tabela_pos_validacao AS (
	SELECT 
		employee_id,
		COUNT(DISTINCT(orders.order_id)),
		ROUND((SUM(order_details.unit_price * order_details.quantity * (1 - order_details.discount))/COUNT(DISTINCT(orders.order_id)))::numeric, 2)
	FROM orders
	JOIN order_details ON orders.order_id = order_details.order_id
	GROUP BY employee_id
	HAVING 
		SUM(order_details.unit_price * order_details.quantity * (1 - order_details.discount))/COUNT(DISTINCT(orders.order_id)) > 700 AND
		COUNT(DISTINCT(orders.order_id)) < 300)

SELECT 
	COUNT(employee_id)
FROM tabela_pos_validacao;